@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Lexend", sans-serif !important;
  }
}

span.external:after {
  content: url("/ic-badge-check.svg");
  margin-left: 5px;
  vertical-align: middle;
}

p.external::after {
  content: url("/ic-badge-check.svg");
  margin-left: 10px;
}

span.externalSP:after {
  content: url("/ic-badge-check-s.svg");
  margin-left: 4px;
  vertical-align: middle;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.modal {
  display: none;
  height: 100%;
  outline-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.fade {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}

.modal-content {
  --tw-bg-opacity: 1;
  background-clip: padding-box;
  @apply bg-[#F2F2F2] dark:bg-[#2B294F] px-10;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  outline-width: 0;
  pointer-events: auto;
  position: relative;
}

.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 75%;
}

.modal.show {
  background: linear-gradient(rgb(19 23 64 / 69%), rgb(19 23 64 / 70%));
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  @apply hover:text-blue-500;
}

button.primaryButton {
  background: linear-gradient(91.82deg, #f727d2 22.38%, #a52cef 108.71%);
  box-shadow: 0px 4px 16px 2px rgb(224 41 219 / 24%);
}

button.hoverCommon:hover {
  box-shadow: inset 60px 60px 0px rgba(0, 0, 0, 0.25);
}

button.primaryButton:disabled {
  background: grey;
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
  box-shadow: none;
}

div.footerC {
  background: linear-gradient(
    153.34deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.8) 157.86%
  );
  filter: drop-shadow(0px 4px 49px rgba(0, 7, 72, 0.12));
  backdrop-filter: blur(7.5px);
}

.text-gradient-primary {
  background: linear-gradient(170.6deg, #fa98e8 21.14%, #a466f4 80.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

.ant-tabs-tab-btn {
  @apply text-base font-medium md:text-2xl mb-[10px] font-sans;
}

.ant-tabs-top > .ant-tabs-nav::before {
  @apply !border-b-[#D1D5DB] dark:!border-b-gray-700;
}

.ant-modal-content {
  @apply !bg-[#F2F2F2] dark:!bg-[#2B294F] dark:text-white rounded md:!rounded-3xl !px-10;
}

.commonGradientText {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#FA98E8] to-[#A466F4];
}

.commonGradientTextBold {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#F626D1] to-[#822CF1] font-bold;
}

/* connect button */

.connect-wallet-btn {
  width: fit-content !important;
  padding: 0 30px !important;
  height: 40px;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-right: 40px;
  border-radius: 100px !important;
}
div[type="button"] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect-wallet-btn2 {
  padding: 0 0px !important;
  height: 36px;
  font-size: 12px !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
}

.wkit-connected-container {
  width: fit-content !important;
  border-radius: 100px !important;
}

.wkit-connected-button {
  flex-direction: column-reverse;
  align-items: end !important;
  padding: 3px 16px !important;
  background-color: #fff !important;
  border-radius: 100px !important;
  border: 1px solid #bd28e0 !important;
  height: 40px;
  max-width: 160px;
}

.dark .wkit-connected-button {
  background-color: #2b294b !important;
}

.wkit-connected-button .wkit-address-select__address,
.wkit-connected-button .wkit-connected-button__balance {
  font-size: 12px;
  line-height: 16px;
  background: linear-gradient(91.82deg, #f727d2 22.38%, #a52cef 108.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex !important;
  justify-content: flex-end;
}

.wkit-connected-button .wkit-address-select__address {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.wkit-connected-button .wkit-connected-button__divider,
.wkit-connected-button .wkit-address-select__right-arrow {
  display: none;
}

.wkit-disconnect-button__container {
  display: none !important;
  border-radius: 8px !important;
}

.wkit-disconnect-button {
  background-color: #fff !important;
}

.ellipsis-multi {
  height: 72px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-primary-footer {
  background: linear-gradient(180deg, #f626d1 21.14%, #822cf1 80.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 4px 4px rgba(84, 84, 84, 0.25),
    0px 4px 49px rgba(112, 112, 112, 0.12);
}

.dark .footer {
  background: rgba(11, 11, 11, 0.45);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25),
    0px -4px 50px 4px rgba(0, 0, 0, 0.3);
}

.accountBalance {
  background-color: #fff !important;
  border-radius: 100px !important;
  border: 1px solid #bd28e0 !important;
  height: 40px;
  min-width: 124px;
  cursor: pointer;
}

.dark .accountBalance {
  background-color: #2b294b !important;
}

.gradientColor {
  background: linear-gradient(91.82deg, #f727d2 22.38%, #a52cef 108.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.accountBalanceAddress {
  font-size: 12px;
  line-height: 16px;
  background: linear-gradient(91.82deg, #f727d2 22.38%, #a52cef 108.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.campaignboxshadow {
  box-shadow: 32px 32px 64px rgba(52, 64, 84, 0.08);
}

.textShadow {
  text-shadow: 0px 2px 10px rgba(252, 109, 255, 0.4);
}

.darkGradient {
  background: linear-gradient(
    151.03deg,
    rgba(31, 8, 68, 0.8) 15.06%,
    rgba(79, 42, 138, 0.25) 95.6%
  );
  box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.08);
  color: white;
}

.darkGradientConnect {
  background: linear-gradient(
    151.03deg,
    rgba(43, 41, 79, 1) 100%,
    rgba(79, 42, 138, 1) 100%
  );
  box-shadow: 32px 32px 64px rgba(0, 0, 0, 0.08);
  color: white;
}

:root {
  --transition: 0.25s;
  --spark: 1.8s;
  --active: 0;
}

.sparkle1 {
  position: absolute;
  height: 20px;
  width: 20px;
  left: -5px;
  bottom: -10px;
}

.sparkle2 {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -5px;
  right: 5px;
}

.sparkle3 {
  position: absolute;
  height: 28px;
  width: 28px;
  right: -10px;
}

.sparkle1 path {
  scale: 0;
  transform-box: fill-box;
  transform-origin: center;
  fill: #fc5fff;
  stroke: #fc5fff;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-delay: calc(
    (var(--transition) * 1.5) + (var(--delay) * 1s)
  );
  animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  transition: color var(--transition);
  animation-iteration-count: infinite;
}

.sparkle2 path {
  scale: 0;
  transform-box: fill-box;
  transform-origin: center;
  fill: #fc5fff;
  stroke: #fc5fff;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-delay: calc(
    (var(--transition) * 0.5) + (var(--delay) * 1s)
  );
  animation-delay: calc((var(--transition) * 0.5) + (var(--delay) * 1s));
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  transition: color var(--transition);
  animation-iteration-count: infinite;
}

.sparkle3 path {
  scale: 0;
  transform-box: fill-box;
  transform-origin: center;
  fill: #fc5fff;
  stroke: #fc5fff;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-delay: calc((var(--transition) * 2) + (var(--delay) * 1s));
  animation-delay: calc((var(--transition) * 2) + (var(--delay) * 1s));
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  transition: color var(--transition);
  animation-iteration-count: infinite;
}

.sparkle3 {
  position: absolute;
  top: -15px;
}

@-webkit-keyframes bounce {
  35%,
  65% {
    scale: var(--scale);
  }
  0%,
  100% {
    scale: 0;
  }
}

@keyframes bounce {
  35%,
  65% {
    scale: var(--scale);
  }
  0%,
  100% {
    scale: 0;
  }
}

.sparkle1 path {
  --scale: 0.3;
  --delay: 0.1;
  --base: 40%;
}

.sparkle2 path {
  --scale: 0.3;
  --delay: 0.2;
  --base: 20%;
}

.sparkle3 path {
  --scale: 0.4;
  --delay: 0.35;
  --base: 30%;
}
